<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/css/myblog.css">

    <link rel="stylesheet" th:href="@{/css/typo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">

    <link rel="stylesheet" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" th:href="@{/lib/tocbot/tocbot.css}">
    <title>博客详情</title>


</head>
<body>
<!--导航-->
<div th:replace="~{index::indexNav}"></div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity-mini animated animate__fadeIn">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui list horizontal link  ">
                <div class="item">
                    <img th:src="@{'http://123.56.136.47:8090/showImage/'+ ${blog.getUserObj().getIcon()}}" class="ui avatar image" style="height: 40px;width: 40px">
                    <div class="content"><a th:href="@{/blog/toAboutMe}" class="header" th:text="${blog.getUserObj().username()}">渡一</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span
                        th:text="${#dates.format(blog.getPublishTime(),'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div class="item">
                    <i class="eye icon"></i><span th:text="${blog.getPageViewCount()}"></span>
                </div>
            </div>
        </div>
        <!--图片区域-->
        <div class="ui attached segment ">
<!--            th:src="@{/images/blogImg/{blogImg}(blogImg=${blog.getBlogImg()})}"-->
            <img th:src="@{'http://123.56.136.47:8090/showBlogImage/'+ ${blog.getBlogImg()}}" class="ui fluid image rounded m-opacity-no">
        </div>
        <!--内容-->
        <div class="ui attached segment padded ">


            <h2 class="ui header center aligned" th:text="${blog.getTitle()}">【一年总结】记我的大一生活</h2>

            <div class="ui grid segment basic two column">

                <div class="ui  segment basic  column twelve wide">
                    <div>
                        分类专栏：
                        <div class="ui  basic teal left pointing label" th:text="${blog.getSortObj().getSortName()}">
                            一年总结
                        </div>
                    </div>
                    <br>
                    文章标签：
                    <div th:each="tag,iter:${blog.getTagObj()}">

                        <!--                            th:each="tag,iter:${blog.getTags()}" th:text="${tag.getName()}-->
                            <div class="ui basic teal left pointing label " style="margin-top: 3px" th:text="${tag.getTagName()}">一年总结</div>
                    </div>

                </div>
                <div class="ui right aligned segment basic column four wide">
                    <div class="ui label orange basic" th:if="${blog.getProperty()==1}">原创</div>
                    <div class="ui label orange basic" th:if="${blog.getProperty()==2}">转载</div>
                    <div class="ui label orange basic" th:if="${blog.getProperty()==3}">翻译</div>
                </div>
            </div>

            <br>
            <div id="content" class="typo typo-selection m-padded-lr-responsive m-text-lined js-toc-content"
                 th:utext="${blog.getContent()}">
            </div>
        </div>
        <!--赞赏-->
        <div class="ui center aligned segment basic" th:if="${blog.getLikeState()==1}">
            <button id="payButton" class="ui orange   button circular">赞赏</button>
        </div>
        <div id="QR" class="ui payQR flowing popup transition hidden">
            <div class="ui orange label basic">
                <div class="images">
                    <div class="ui image">
                        <img th:src="@{/images/weixin_money_code.png}" alt="" class="ui rounded bordered image" style="width: 120px">
                        <div>微信</div>
                    </div>
                    <div class="ui image">
                        <img th:src="@{/images/zhifubao_money_code.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                        <div>支付宝</div>
                    </div>
                </div>
            </div>
        </div>


        <!--博客信息-->
        <div class="ui attached positive message">
            <div class="ui grid middle aligned">
                <div class="eleven wide column">
                    <ui class="list">
                        <li></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.getPublishTime(),'yyyy-MM-dd HH:mm:ss')}"></span></li>
                        <li th:if="${blog.getReprintState()==1}">版权声明：自由转载-非商用-非衍生-保留署名</li>
                    </ui>
                </div>
<!--                <div class="five wide column">-->
<!--                    <img src="" alt="" class="ui rounded bordered image">-->
<!--                </div>-->
            </div>
        </div>

        <!--留言区域-->

        <div id="table-container" th:if="${blog.getCommentState()==1}">
            <div th:fragment="refresh_area">
                <div class="ui bottom attached segment" id="comment-container">
                    <div class="ui comments">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="parent,iter:${commentMap}">
                            <a class="ui avatar image ">
                                <img class="ui avatar image"
                                     头像
                                     th:src="@{'http://123.56.136.47:8090/showImage/'+ ${parent.getKey().getUser().getIcon()}}">
                            </a>
                            <div class="content">
                                <span class="author" th:text="${parent.getKey().getCommentPersonName()}">Matt</span>
                                <div class="ui  basic teal mini label " th:if="${parent.getKey().getBloggerState()==1}">博主</div>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(parent.getKey().getPublishTime(),'yyyy-MM-dd HH:ss')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${parent.getKey().getContent()}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" th:data-name="${parent.getKey().getCommentPersonName()}" th:data-parent="${parent.getKey().getId()}"
                                       onclick="changeParent(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment" th:each="son,iter:${parent.value}">
                                    <a class="avatar">
                                        <img class="ui avatar img-circle"
                                             th:src="@{'http://123.56.136.47:8090/showImage/'+ ${son.getUser().getIcon()}}" >
                                    </a>
                                    <div class="content">
                                        <span class="author" th:text="${son.getCommentPersonName()}">Jenny Hess</span>
                                        <div class="ui  basic teal mini  label " th:if="${son.getBloggerState()==1}">博主</div>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(son.getPublishTime(),'yyyy-MM-dd HH:ss')}">Just now</span>
                                        </div>
                                        <div class="text" th:text="${son.getContent()}">
                                            Elliot you are always so right :)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <form action="/blog/comment/add" id="comment" class="ui form" method="post">
                    <input type="hidden" name="userId" th:value="${blog.getUserId()}">
                    <input type="hidden" name="blogTitle" th:value="${blog.getTitle()}">
                    <input type="hidden" name="blogId" id="blogId" th:value="${blog.getId()}">
                    <input id="parent" type="hidden" name="parentId" value="-1">
                    <div class="field">
                        <textarea id="id_content" name="content" placeholder="请输入评论信息...(如果误点击了回复，请刷新页面再评论)"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field  m-margin-bottom-small m-mobile-wide ">
                            <button class="ui button teal m-mobile-wide" id="commentBtn" type="button"><i class="ui edit icon"></i>评论
                            </button>
                        </div>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>



    </div>
</div>

<div class="ui vertical icon buttons  m-fixed m-padded m-right-bottom">

    <div id="toTop-button" class="ui icon button "><i class="ui chevron up icon"></i></div>
    <button id="menuButton" type="button" class="ui button teal">目录</button>
    <a href="#comment-container" class="ui button teal">留言</a>

</div>
<div id="catalogue" class="ui flowing  popup transition hidden " data-position="left" style="width: 250px !important; ">
    <ol class="js-toc"></ol>
</div>
<br>
<br>
<!--底部footer-->
<div th:replace="~{index::footer}"></div>

<!--登录-->
<div th:replace="~{index::login}"></div>


<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/Semantic-UI-CSS-master/semantic.min.js}"></script>
<script th:src="@{/lib/prism/prism.js}"></script>
<script th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<!--登录弹出框的js-->
<script th:src="@{/myjs/login_js.js}"></script>
<script type="text/javascript">

    $(function() {
        $("#b1").click(function () {
            $(".m-item").toggleClass("m-mobile-hide");
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    });


    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    $('#payButton').popup({
        popup: $('.popup.payQR'),
        on: 'click',
        position: 'bottom center'
    });

    $('#menuButton').popup({
        popup: $('#catalogue'),
        on: 'click',
        position: 'left center'
    });



    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    })

    function changeParent(button) {
        $('#parent').val($(button).attr("data-parent"));
        $('#id_content').text('@' + $(button).attr("data-name") + ':')
    }


    $('#commentBtn').click ( function () {

        var targetUrl = $('#comment').attr("action");
        var data = $('#comment').serialize();
        $.ajax({
            type: 'post',
            url: targetUrl,
            cache: false,
            data: data,
            // dataType: 'json',
            success: function (data) {
                //评论成功
                if (data.success) {
                    var blogId = $('#blogId').val();

                    $.ajax({
                        type: 'post',
                        url: '/blog/comment/flushComment',
                        cache: false,
                        data: {id: blogId},
                        // dataType: 'json',
                        success: function (data) {
                            $('#table-container').html(data);
                            window.location.reload();
                        }
                    })
                    //失败
                } else {
                    if (data.data == "noLogin") {
                        alert("未登录，请登录后再评论");
                        $('.ui.modal')
                            .modal('show');
                    }
                    if (data.data == "The content contains sensitive fields") {
                        alert("评论内容包含非法字符");
                    }
                }
            }
        })

    });



        $('.ui.form').form({
            fields: {
                content: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '评论内容：请输入评论内容'
                    }]
                }
            }
        })
</script>
</body>

</html>